In [1]:
import pandas as pd

In [4]:
from io import StringIO

In [6]:
data = """\
sample animal intelligence
1 cat smart
2 cat dumb
3 dog smart
4 cat smart
5 dog dumb
6 dog smart
"""

In [10]:
dframe = pd.read_table(StringIO(data), sep='\s+')

In [11]:
dframe

   sample animal intelligence
0       1    cat        smart
1       2    cat         dumb
2       3    dog        smart
3       4    cat        smart
4       5    dog         dumb
5       6    dog        smart

In [13]:
pd.crosstab(dframe.animal, dframe.intelligence, margins=True)

intelligence  dumb  smart  All
animal
cat              1      2    3
dog              1      2    3
All              2      4    6