In [1]:
import numpy as np
from pandas import Series, DataFrame 
import pandas as pd

In [9]:
dframe = DataFrame({'key1':['A']*2 + ['B']*3,
                     'key2':[2,2,2,3,3]})

In [10]:
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [12]:
dframe.duplicated()   # show if a row is duplicated

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [13]:
dframe.drop_duplicates()

  key1  key2
0    A     2
2    B     2
3    B     3

In [14]:
dframe.drop_duplicates(['key1'])

  key1  key2
0    A     2
2    B     2

In [15]:
dframe.drop_duplicates(['key2'])

  key1  key2
0    A     2
3    B     3

In [16]:
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [19]:
dframe.drop_duplicates(['key1'], take_last = True)   #it is gonna keep the last rows that are duplicated

TypeError: drop_duplicates() got an unexpected keyword argument 'take_last'