In [1]:
import pandas as pd

In [3]:
xlfile = pd.ExcelFile('book1.xlsx')

In [5]:
dframe = xlfile.parse()
dframe

   this is a test  Unnamed: 1  Unnamed: 2
0               1          23          41
1               2          24          67
2               3          25          97
3               4          26          59