In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

from numpy.random import randn

In [9]:
ser1= Series(randn(6), index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

ser1

1  a    1.057343
   b    0.492444
   c    0.055925
2  a   -0.718820
   b    1.351350
   c    0.335695
dtype: float64

In [10]:
ser1[1]

a    1.057343
b    0.492444
c    0.055925
dtype: float64

In [11]:
ser1[2]

a   -0.718820
b    1.351350
c    0.335695
dtype: float64

In [12]:
ser1[:,'a']

1    1.057343
2   -0.718820
dtype: float64

In [15]:
dframe = ser1.unstack()    #make a dataframe with the inner index as columns and outer index as rows

dframe

          a         b         c
1  1.057343  0.492444  0.055925
2 -0.718820  1.351350  0.335695

In [18]:
dframe = DataFrame(np.arange(16).reshape(4,4), index=[['a','a','b','b'],[1,2,1,2]], 
                                                 columns= [['NY','NY','LA','FC'],['HOT','COLD','HOT','HOT']])
dframe

     NY       LA  FC
    HOT COLD HOT HOT
a 1   0    1   2   3
  2   4    5   6   7
b 1   8    9  10  11
  2  12   13  14  15

In [19]:
dframe.index.names = ['INDEX1','INDEX2']
dframe.columns.names = ['CITY','TEMPT']

In [20]:
dframe

CITY           NY       LA  FC
TEMPT         HOT COLD HOT HOT
INDEX1 INDEX2
a      1        0    1   2   3
       2        4    5   6   7
b      1        8    9  10  11
       2       12   13  14  15

In [21]:
dframe.swaplevel('CITY','TEMPT', axis=1)

TEMPT         HOT COLD HOT
CITY           NY   NY  LA  FC
INDEX1 INDEX2
a      1        0    1   2   3
       2        4    5   6   7
b      1        8    9  10  11
       2       12   13  14  15

In [25]:
dframe.sortlevel(1)  #the argument (1) is the index level, its gonna sort by the index

AttributeError: 'DataFrame' object has no attribute 'sortlevel'

In [28]:
dframe.sum(level='TEMPT', axis=1)

TEMPT          HOT  COLD
INDEX1 INDEX2
a      1         5     1
       2        17     5
b      1        29     9
       2        41    13