In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
np.random.seed(12345)

In [9]:
dframe= DataFrame(np.random.randn(1000,4))

In [10]:
dframe.head()

          0         1         2         3
0 -0.548465  0.909617  1.475824  0.584234
1 -0.573963  0.350913 -2.128789  1.008115
2 -0.550860 -1.385154 -0.408098  0.157126
3  0.558118  2.043916 -0.468581 -0.040791
4  1.561010 -0.012613  0.273331  0.469828

In [11]:
dframe.tail()

            0         1         2         3
995 -0.770842  1.447091 -0.725269  0.729155
996 -1.858453  0.159774 -0.718588 -0.694012
997  1.398385  1.088053  1.308820 -1.365500
998  1.098708  0.062528  2.368010  0.452649
999 -3.481593  0.789944  1.737746 -0.875399

In [12]:
dframe.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.030822    -0.030280    -0.040649     0.004960
std       0.979781     0.964526     0.982923     1.023784
min      -3.481593    -3.194414    -3.108915    -3.645860
25%      -0.627153    -0.711668    -0.729106    -0.692060
50%       0.022671    -0.043096    -0.049977     0.038757
75%       0.690303     0.656860     0.618116     0.713369
max       3.525865     3.023720     3.366626     2.763474

In [13]:
col1 = dframe[0]

In [14]:
col1.head()

0   -0.548465
1   -0.573963
2   -0.550860
3    0.558118
4    1.561010
Name: 0, dtype: float64

In [15]:
col1[np.abs(col1)>3]

248    3.525865
491   -3.333767
999   -3.481593
Name: 0, dtype: float64

In [16]:
row1 = dframe.loc[0]

In [17]:
row1

0   -0.548465
1    0.909617
2    1.475824
3    0.584234
Name: 0, dtype: float64

In [18]:
dframe[(np.abs(dframe)>3).any(1)]

            0         1         2         3
9    0.208011 -0.150923 -0.362528 -3.548824
101  0.193299  1.397822  3.366626 -2.372214
248  3.525865  0.283070  0.544635  0.462204
268 -0.450721 -0.080332  0.599947 -3.645860
491 -3.333767 -1.240685 -0.650855  0.076254
572  0.344072  0.581893 -1.116332 -3.018842
597 -0.555434 -0.048478 -3.108915  1.117755
727 -0.217146 -0.274138  1.188742 -3.183867
774  0.744019  1.741426 -2.214074 -3.140963
940 -0.848098 -3.194414  0.077839 -1.733549
970 -0.011807  3.023720 -1.105312  0.105141
999 -3.481593  0.789944  1.737746 -0.875399

In [21]:
dframe[np.abs(dframe)>3] = np.sign(dframe)*3

In [23]:
dframe.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.031112    -0.030109    -0.040907     0.006499
std       0.975334     0.963832     0.981384     1.018873
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.627153    -0.711668    -0.729106    -0.692060
50%       0.022671    -0.043096    -0.049977     0.038757
75%       0.690303     0.656860     0.618116     0.713369
max       3.000000     3.000000     3.000000     2.763474