In [1]:
import numpy as np
from pandas import Series, DataFrame 
import pandas as pd

In [2]:
dframe = DataFrame({'date':[2000,2005,2010,2015,2020], 'variable':['A','B','C','D','E'], 'value':[100,200,300,400,500]})

In [3]:
dframe

   date variable  value
0  2000        A    100
1  2005        B    200
2  2010        C    300
3  2015        D    400
4  2020        E    500

In [5]:
dframe_pv = dframe.pivot('date', 'variable','value')  # pivot(row, column, data)

In [6]:
dframe_pv

variable      A      B      C      D      E
date
2000      100.0    NaN    NaN    NaN    NaN
2005        NaN  200.0    NaN    NaN    NaN
2010        NaN    NaN  300.0    NaN    NaN
2015        NaN    NaN    NaN  400.0    NaN
2020        NaN    NaN    NaN    NaN  500.0