In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index=['A', 'B', 'C', 'D'])

ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A','B','C', 'D', 'F','G'])

ser2

A    1.0
B    2.0
C    3.0
D    4.0
F    NaN
G    NaN
dtype: float64

In [4]:
ser2.reindex(['A','B','C', 'D', 'F','G','H'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
F    NaN
G    NaN
H    0.0
dtype: float64

In [5]:
ser3 = Series(['red', 'blue','orange'], index=[0,5,10])
ser3

0        red
5       blue
10    orange
dtype: object

In [8]:
ranger = np.arange(15)
ranger

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [9]:
ser3.reindex(ranger, method='ffill')

0        red
1        red
2        red
3        red
4        red
5       blue
6       blue
7       blue
8       blue
9       blue
10    orange
11    orange
12    orange
13    orange
14    orange
dtype: object

In [13]:
dframe = DataFrame(randn(16).reshape(4,4), index=['A', 'B', 'D', 'E'], columns = ['col1', 'col2', 'col3', 'col4'])
dframe

       col1      col2      col3      col4
A  0.340244 -0.003533 -0.510732 -0.412944
B  1.091049 -1.415755 -1.474468  1.714470
D -0.818210 -0.744824 -0.613404  0.955728
E  0.017498 -1.064148  0.452194  0.513541

In [14]:
dfram2 = dframe.reindex(['A', 'B', 'C', 'D', 'E'])
dfram2

       col1      col2      col3      col4
A  0.340244 -0.003533 -0.510732 -0.412944
B  1.091049 -1.415755 -1.474468  1.714470
C       NaN       NaN       NaN       NaN
D -0.818210 -0.744824 -0.613404  0.955728
E  0.017498 -1.064148  0.452194  0.513541

In [19]:
dframe.ix(['A', 'B', 'C', 'D', 'E', 'F'],['col1', 'col2', 'col3', 'col4','col5', 'col6']) #changing index

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given