In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
dframe = DataFrame(np.arange(12).reshape(3,4), index=['LA','SF','NY'], columns=['A','B','C','D'])
dframe

    A  B   C   D
LA  0  1   2   3
SF  4  5   6   7
NY  8  9  10  11

In [4]:
dframe.index.map(str.lower)

Index(['la', 'sf', 'ny'], dtype='object')

    A  B   C   D
LA  0  1   2   3
SF  4  5   6   7
NY  8  9  10  11

In [6]:
dframe.index = dframe.index.map(str.lower)

In [7]:
dframe

    A  B   C   D
la  0  1   2   3
sf  4  5   6   7
ny  8  9  10  11

In [8]:
dframe.rename(index=str.title, columns=str.lower)  #capitalize the rows and lower case the columns

    a  b   c   d
La  0  1   2   3
Sf  4  5   6   7
Ny  8  9  10  11

In [12]:
dframe.rename(index= {'ny':'new york'}, columns= {'A':'alpha'})

          alpha  B   C   D
la            0  1   2   3
sf            4  5   6   7
new york      8  9  10  11

In [14]:
dframe.rename(index= {'ny':'new york'}, inplace=True)   #make the changes permanent

In [15]:
dframe

          A  B   C   D
la        0  1   2   3
sf        4  5   6   7
new york  8  9  10  11