In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
ser1 = Series([1,2,1,1,3,3])
ser1

0    1
1    2
2    1
3    1
4    3
5    3
dtype: int64

In [4]:
ser1.replace(1, np.nan)   #replace every 1 values with null

0    NaN
1    2.0
2    NaN
3    NaN
4    3.0
5    3.0
dtype: float64

In [6]:
ser1.replace([1,3],[100,300])   #multiple replacement

0    100
1      2
2    100
3    100
4    300
5    300
dtype: int64

In [7]:
ser1.replace({2:np.nan})

0    1.0
1    NaN
2    1.0
3    1.0
4    3.0
5    3.0
dtype: float64