In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [4]:
ser1 = Series(np.arange(3), index=['A','B','C'])
ser1

A    0
B    1
C    2
dtype: int32

In [5]:
ser1 = 2*ser1
ser1

A    0
B    2
C    4
dtype: int32

In [6]:
ser1['B']

2

In [7]:
ser1[1]

2

In [8]:
ser1[0:3]

A    0
B    2
C    4
dtype: int32

In [9]:
ser1[['A','B']]

A    0
B    2
dtype: int32

In [10]:
ser1[ser1>3]

C    4
dtype: int32

In [11]:
ser1[ser1>3] = 10
ser1

A     0
B     2
C    10
dtype: int32

In [12]:
ser1

A     0
B     2
C    10
dtype: int32

In [13]:
dframe = DataFrame(np.arange(25).reshape(5,5), index=['A','B','C','D','E'], columns=['1','2','3','4','5'])
dframe

    1   2   3   4   5
A   0   1   2   3   4
B   5   6   7   8   9
C  10  11  12  13  14
D  15  16  17  18  19
E  20  21  22  23  24

In [15]:
dframe['1']

A     0
B     5
C    10
D    15
E    20
Name: 1, dtype: int32

In [17]:
dframe[['2','3']]

    2   3
A   1   2
B   6   7
C  11  12
D  16  17
E  21  22

In [20]:
dframe[dframe['2']>8]

    1   2   3   4   5
C  10  11  12  13  14
D  15  16  17  18  19
E  20  21  22  23  24

In [21]:
dframe > 10

       1      2      3      4      5
A  False  False  False  False  False
B  False  False  False  False  False
C  False   True   True   True   True
D   True   True   True   True   True
E   True   True   True   True   True

In [24]:
dframe.loc['A']

1    0
2    1
3    2
4    3
5    4
Name: A, dtype: int32

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [2] of <class 'int'>