In [4]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [6]:
obj = Series([2,4,6,8])

obj

0    2
1    4
2    6
3    8
dtype: int64

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
obj.values

array([2, 4, 6, 8], dtype=int64)

In [11]:
obj1 = Series([3,5,7], index=['A','B','C'])
obj1

A    3
B    5
C    7
dtype: int64

In [12]:
obj1['A']

3

In [13]:
#check which values are greater than 3
obj1[obj1 > 3]

B    5
C    7
dtype: int64

In [14]:
'A' in obj1

True

In [15]:
#turn into dictionary
obj1 = obj1.to_dict()

obj1

{'A': 3, 'B': 5, 'C': 7}

In [16]:
#convert back to series
obj1 = Series(obj1)

obj1

A    3
B    5
C    7
dtype: int64

In [19]:
indx = ['A' , 'bb', 'cc']

In [20]:
obj2 = Series(obj1,index=indx)

obj2

A     3.0
bb    NaN
cc    NaN
dtype: float64

In [21]:
pd.isnull(obj2)

A     False
bb     True
cc     True
dtype: bool

In [22]:
pd.notnull(obj2)

A      True
bb    False
cc    False
dtype: bool

In [23]:
obj1 + obj2

A     6.0
B     NaN
C     NaN
bb    NaN
cc    NaN
dtype: float64

In [25]:
obj1.name = "this is an object"
obj1

A    3
B    5
C    7
Name: this is an object, dtype: int64

In [26]:
obj1.index.name = "words"
obj1

words
A    3
B    5
C    7
Name: this is an object, dtype: int64