In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
arr1 = np.array([[1,2,np.nan],[5,4,3]])
arr1

array([[ 1.,  2., nan],
       [ 5.,  4.,  3.]])

In [3]:
dframe = DataFrame (arr1, index=['A','B'],columns = ['ONE','TWO','THREE'])
dframe

   ONE  TWO  THREE
A  1.0  2.0    NaN
B  5.0  4.0    3.0

In [4]:
dframe.sum()   #adding columns

ONE      6.0
TWO      6.0
THREE    3.0
dtype: float64

In [5]:
dframe.sum(axis=1)   #adding rows

A     3.0
B    12.0
dtype: float64

In [6]:
dframe.min()   #find the min of each column

ONE      1.0
TWO      2.0
THREE    3.0
dtype: float64

In [7]:
dframe

   ONE  TWO  THREE
A  1.0  2.0    NaN
B  5.0  4.0    3.0

In [8]:
dframe.idxmin()   #gives the index of the min values

ONE      A
TWO      A
THREE    B
dtype: object

In [9]:
dframe.cumsum()

   ONE  TWO  THREE
A  1.0  2.0    NaN
B  6.0  6.0    3.0

In [10]:
dframe.describe()

            ONE       TWO  THREE
count  2.000000  2.000000    1.0
mean   3.000000  3.000000    3.0
std    2.828427  1.414214    NaN
min    1.000000  2.000000    3.0
25%    2.000000  2.500000    3.0
50%    3.000000  3.000000    3.0
75%    4.000000  3.500000    3.0
max    5.000000  4.000000    3.0

In [11]:
from IPython.display import YouTubeVideo

In [12]:
YouTubeVideo('link')

In [13]:
from pandas.io import data, wb

import datetime

ImportError: cannot import name 'data' from 'pandas.io' (E:\Anaconda\lib\site-packages\pandas\io\__init__.py)

In [14]:
prices = pdweb.get_data_yahoo(['cvx','xom','BP'], start= datetime.datetime(2011,1,1),
                               end=datetime.datetime(2013,1,1))['adj close']
prices.head()

NameError: name 'pdweb' is not defined

In [15]:
ser1 = Series(['a','b','c','d','a','b'])
ser1

0    a
1    b
2    c
3    d
4    a
5    b
dtype: object

In [16]:
ser1.unique()

array(['a', 'b', 'c', 'd'], dtype=object)

In [20]:
ser1.value_counts()  #how many of each value

a    2
b    2
c    1
d    1
dtype: int64